---
import Input from '../components/Input.astro';
import Render from '../components/Render.astro';
import Code from '../components/Code.astro';
import { api_url, maxAge } from '../lib/api';
import Button from '../components/Button.astro';
import { f, tc, useSession } from '../utils/helper';

const { token, user } = useSession(Astro);
// revalidate token
if (user !== null) {
	const { data } = await f({
		url: `${api_url}/revalidate`,
		token,
	});
	Astro.cookies.set('session', { token: data, user }, { maxAge });
}

type Queries =
	| 'getall'
	| 'getbyid'
	| 'createDepartment'
	| 'manageUserDepartment';

const q = Astro.url.searchParams.get('q') as Queries;

const getOutput = async () => {
	switch (q) {
		case 'getall':
			return (await f({ url: `${api_url}/departments` })).data;

		case 'getbyid':
			return await tc(Astro, async (formData) => {
				const id = formData.get('id')?.toString();
				if (!id) return 'Please provide an ID';
				if (isNaN(Number(id))) return 'Please provide a valid number ID';

				return (
					await f({
						url: `${api_url}/departments/${id}/users`,
						token,
					})
				).data;
			});

		case 'createDepartment':
			return await tc(Astro, async (formData) => {
				const name = formData.get('name')?.toString();
				if (!name) return 'Please provide a name';

				return (
					await f({
						url: `${api_url}/departments`,
						method: 'POST',
						contentType: 'application/json',
						body: JSON.stringify({ name }),
					})
				).data;
			});

		case 'manageUserDepartment':
			return await tc(Astro, async (formData) => {
				const id = formData.get('id')?.toString();
				const userIds = formData.get('user_ids')?.toString();
				const method =
					(formData.has('add') && 'add') ||
					(formData.has('remove') && 'remove');

				// check empty
				if (!id || !userIds) return 'Please fill all the fields';
				// check if ID is number
				if (isNaN(Number(id))) return 'Please provide a valid number ID';

				const userIdArray = userIds.split(',');

				// check if ID is number
				for (const id of userIdArray) {
					if (isNaN(Number(id))) return 'Please provide a valid number ID';
				}

				return (
					await f({
						url: `${api_url}/departments/${id}/users/${method}`,
						method: 'POST',
						contentType: 'application/json',
						body: JSON.stringify(userIdArray),
						token,
					})
				).data;
			});

		default:
			return 'No output';
	}
};

const output = await getOutput();
---

<Render
	title="Departments"
	back={{
		href: '/',
		title: 'Go back to home page',
	}}
>
	<h1 class="text-center">Departments</h1>
	<Button href="/departments">Reset</Button>
	<Code>{JSON.stringify(output, null, 2)}</Code>
	<div class="buttons">
		<Button href="/departments?q=getall">Get All</Button>

		<form action="/departments?q=createDepartment" method="post">
			<Input type="text" name="name" placeholder="Name" />
			<Button type="submit">Create department</Button>
		</form>

		{
			user !== null && (
				<>
					<form action="/departments?q=getbyid" method="post">
						<Input type="text" name="id" placeholder="ID" />
						<Button type="submit">Get assigned user to department</Button>
					</form>

					<form
						class="fields"
						action="/departments?q=manageUserDepartment"
						method="post"
					>
						<label>Add user to department</label>
						<div>
							<Input type="text" name="id" placeholder="Departtment id*" />
							<Input
								type="text"
								name="user_ids"
								label="User's ids*"
								placeholder="separate with comma ','"
							/>
							<Button type="submit" name="add">
								Submit
							</Button>
						</div>
					</form>

					<form
						class="fields"
						action="/departments?q=manageUserDepartment"
						method="post"
					>
						<label>Remove user from department</label>
						<div>
							<Input type="text" name="id" placeholder="Departtment id" />
							<Input
								type="text"
								name="user_ids"
								label="User's ids*"
								placeholder="separate with comma ','"
							/>
							<Button type="submit" name="remove">
								Submit
							</Button>
						</div>
					</form>
				</>
			)
		}
	</div>
</Render>
